/*=====PARTE-1=====*/
#contenedor{
    background-color: #f8ede0;
    font-family: 'Times New Roman', Times, serif ;
    font-style: italic;
    font-size: 16px;
}

div.encabezado{
    background-image: url(../imgs/guesteaus.png);
    color: #5a3e36;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-bottom: #5a3e36 solid 20px;
    
    /*==PARTE2==*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

div.encabezado img{
    width: 100px;
    height: 100px;
    text-shadow: black 50px;
}
/*==LISTAS==*/
div.menu ul li a{
    background-color: #a77e58;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    transition: all 0.4s;
}
div.menu li{
    display: inline-block;
    padding: 10px;
    margin-inline: 10px;
    
}
div.menu ul{
    text-align: center;
    background-color: #a77e58;
    margin-top: 0px;
}

div.menu ul li a:hover{
    cursor: pointer;
    background-color: #cf9c6c;
    color: #f8cfa7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bolder;
    border: #5a3e36 solid 2px;
    background-color: #5a3e36;
    padding: 10px;
    
}
/*====*/

div.contenido{
    background-color: #f8ede0;
    color: #5a3e36;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    /*==PARTE4==*/
    float: left;
}

div.sidebar{
    background-color: #ecdcc6;
    color: #5a3e36;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    float: right;
    width: 30%; 
    padding-left: 20px;
}
/*======Formulario=======*/
div.formu{
    color:#ecdcc6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    float: right;
    width: 30%;
    padding-left: 20px;
    padding-bottom: 30px;
    background-color: #a77e58;
}

div.formu input[type='text'], input[type='email'], input[type='tel'], input[type='datetime-local']{
    border: 1px solid #a77e58;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff8f0;
}

div.formu input[type=number]{
    border: 1px solid #a77e58;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff8f0;
    width: 50px;
}
div.formu textarea{
    order: 1px solid #a77e58;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff8f0;
    width: 250px;
    height: 100px;
}

div.formu button{
    background-color: #5a3e36;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.4s;
}

div.formu button:hover{
    background-color: #9e7753;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
}

div.formu label{
    font-size: 16px;
    display: block;
}

div.formu input:invalid{
    border-right: 10px solid #8b0007;
    transition: all 1s;
}

div.formu input:valid{
    border-right: 10px solid #219e16;
    transition: all 1s;
}
/*========================*/
div.pie{
    clear: both;
    background-color: #5a3e36;
    color: #ecdcc6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}